target/
!.mvn/wrapper/maven-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/
.vagrant/

.toDelete

src/test/java/ie/aib/cards/transactions/PrintJwtNotValidClassTest.java
/configuration-properties/.mvn/wrapper/
